body{
	 background: url(pemandangan.jpg) no-repeat center center fixed; 
                -webkit-background-size: 100% 100%;
                -moz-background-size: 100% 100%;
                -o-background-size: 100% 100%;
                background-size: 100% 100%;
	font-size:16px
	font-family: sans-serif;
	width: 600px;
    margin: 700px auto;width: 800px;
    margin:  50px auto;
	
	
}

.content{
	width: 800px;
	margin: 0 auto;
}

/*header*/
header{
	background-color: #87cefa;
	padding: 20px 10px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}

header h1.judul,
header h3.deskripsi{
	text-align: center;	
}

/*menu navigasi*/
.menu{
	background-color: #87CEFA;
	border: 1px solid #f0f0f0;
	border-radius: 8px;	
	margin-bottom: 10px;
}

div.menu ul {
	list-style:none;
	overflow: hidden;
}


div.menu ul li {
	float:left;		
	text-transform:uppercase;
}

div.menu ul li a {
	display:block;	
	padding:0 20px;
	text-decoration:none;
	color:#2c2c2c;
	font-family: sans-serif;
	font-size:13px;
	font-weight:400;
	transition:all 0.3s ease-in-out;
}

div.menu ul li a:hover,
div.menu ul li a.hoverover {	
	cursor: pointer;	
	color:#fff;
}


div.badan{
	background-color: white;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}

div.halaman{
	text-align: center;
	padding: 30px 20px;	
}

3
4
